# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# ADOBE_CLIENT_ID: Your Adobe PDF Services Client ID
ADOBE_CLIENT_ID=""

# ADOBE_CLIENT_SECRET: Your Adobe PDF Services Client Secret
ADOBE_CLIENT_SECRET=""

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"
